{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h2>Blog Posts...</h2>
<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
    <h3>{{ post.title }}</h3><br/>
    By: <b>{{ post.poster.name }}</b><br/>
    Slug: {{ post.slug }}<br/>
    Date: {{ post.date_posted }}<br/>
    Text: {{ post.content|safe }}<br/><br/>
</div>

{% if post.poster_id == current_user.id %}
<a href="{{ url_for('edit_post', id=post.id) }}"
class="btn btn-outline-secondary btn-sm">Edit Post</a>

<a href="{{ url_for('delete_post', id=post.id) }}"
class="btn btn-outline-danger btn-sm">Delete Post</a>
{% endif %}

<a href="{{ url_for('posts') }}"
class="btn btn-outline-secondary btn-sm">Back To Blog</a>

{% endblock %}