{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if id == current_user.id %}

    <h1>Update User</h1>
    </br>
    ID to update: {{ id }}</br>
    Current ID: {{ current_user.id }}
    </br>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag()}} <!-- 'form' is the WTForms object and it has attributes -->
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=name_to_update.name) }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=name_to_update.username) }}

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=name_to_update.email) }}

        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control",
        value=name_to_update.favorite_color) }}

        </br>
        {{ form.submit(class="btn btn-secondary")}}
        <a href="{{ url_for('delete', id=id) }}" 
        class="btn btn-danger">Delete</a>
    </form>
    </div>

{% else %}


    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Sorry, you can't edit this user...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h2>Access denied</h2>
    <p> You can not access this user profile!</p>


{% endif %}


{% endblock %}
